<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.holwerda.lars.homeworksayer">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WordlistPlayer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".editActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListFileActivity"
            android:exported="true" />
        <activity
            android:name=".PreProccessText"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:label="WordlistPlayer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddWordActivity"
            android:label="WordlistPlayer">

        </activity>
        <activity
            android:name=".CreateFileActivity"
            android:label="WordlistPlayer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CameraCaptureActivity"
            android:label="WordlistPlayer" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>